@{
    Layout = "_Layout";
}
@using SweetAndSavory.Models

<div class="container">
    <h1>Pierre's Bakery</h1>
</div> <!-- "container" -->
<hr />
<div class="splash-container">
    <div class="splash-content">
        <h3>Flavors</h3>
        <div class="container">
            @if (@Model["flavors"].Count == 0)
            {
                <p>No flavors yet added</p>
            }
         </div> <!-- "container" -->
        <div class="container">
            <ul>
                @foreach (Flavor flavor in Model["flavors"])
                {
                    <li>
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink($"{flavor.FlavorName}", "Details", new { id = flavor.FlavorId })
                        }
                        else
                        {
                         @flavor.FlavorName
                        }
                    </li>
                }
            </ul>
        </div> <!-- "container" -->
    </div> <!-- "splash-content" -->

    <div class="splash-content">
        <h3>Treats</h3>
        <div class="container">
            @if (@Model["treats"].Count == 0)
            {
                <p>No treats yet added</p>
            }
         </div><!-- "container" -->
        <div class="container">
            <ul>
                @foreach (Treat treat in Model["treats"])
                {
                    <li>
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink($"Name: {treat.TreatName}", "Details", new { id = treat.TreatId })
                        }
                        else
                        {
                            @treat.TreatName
                        }
                    </li>
                }
            </ul>
         </div><!-- "container" -->
    </div> <!-- "splash-content" -->
</div> <!-- "splash-container" -->


@if (!User.Identity.IsAuthenticated)
{
<div class="link-container">
        <p>@Html.ActionLink("Register", "Register", "Account")</p>
        <p>@Html.ActionLink("Log in", "Login", "Account")</p>
</div> 
}
