@{
  Layout = "_Layout";
}

@using SweetAndSavory.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />

@if(!ViewData.ModelState.IsValid) 
{
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
<div class="form-container">
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user=> user.Email)

    @Html.LabelFor(user=> user.Password)
    @Html.EditorFor(user=> user.Password)

    @Html.LabelFor(user=> user.ConfirmPassword)
    @Html.EditorFor(user=> user.ConfirmPassword)

    <p>Select your role:</p>
    <input type="radio" name="role" value="Admin" /> Admin
    <input type="radio" name="role" value="Guest" /> Guest
</div>
<div class="center">
    <input type="submit" value="Register" />
</div>
}

<div class="link-container">
    <p>@Html.ActionLink("Back to accounts page", "Index")</p>
</div>